html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}





@import 'variable';
@import 'blog';
@import 'contact';


// html {
//     line-height: 1.15;
//     -ms-text-size-adjust: 100%;
//     -webkit-text-size-adjust: 100%;
// }


body {
    margin: 0;
    overflow-x: hidden;
    
}

body,
footer,
header,
nav,
section {
    display: block;
}

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1080px;
    
    
    }



header {
        background-image: linear-gradient(1deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../project-1-under-the-sea/under-the-sea-assets/header-image.jpg);
        background-size: cover;
        max-width: 100%;
        height: 70vh;
        

    }

        h1 {
            color: white;
            margin: 0px 7%;
            font-family: 'Barlow',
            sans-serif;
            font-size: 80px;
        }
        

        .menu {
            display: flex;
            justify-content: right;
            

        }

        .menu li a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            text-decoration: none;
            font-family: 'Barlow',
            sans-serif;
        }

        .menu a:hover {
            color: #86E0F9;
        }

        .menu ul {
            display: flex;
            justify-content: space-between;
            flex-basis: 45%;
            align-self: center;
            list-style: none;
            margin-right: 10%;
            color: white;

        }

        .burger-menu {
            margin: 0;
            margin-left: 15px;
            padding: 0;
            float: left;
            transition: opacity 7s;
            display: none;
        }

        .burger-menu .hover {
            cursor: pointer;
            opacity: .5;
        }

        .burger-menu .line {
            width: 60px;
            height: 5px;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;
        }


        .burger-menu .line:nth-child(1) {
            background-color: $babyblue;
        }

        .burger-menu .line:nth-child(2) {
            background-color: white;
        }

        .burger-menu .line:nth-child(3) {
            background-color: $babyblue;
        }

        .burger-menu.isactive .line:nth-child(2) {
            opacity: 0;
        }

        .burger-menu.isactive .line:nth-child(1) {
            transform: translateY(13px) rotate(45deg);
        }

        .burger-menu.isactive .line:nth-child(3) {
            transform: translateY(-13px) rotate(-45deg);
        }

        .menu {
            transition: all 2s ease-in-out;
        }

        .menu.active {
            display: block;
            animation: fade .5s;
        }





        .fish-parent {
            position: relative;
        }


        .fish-test {
            display: flex;
            justify-content: flex-end;

        }

        .fish-box {
            position: absolute;
            margin-top: -30%;
            width: 35%;
            height: auto;
            
        }
    

    
    
    .undersea {
        background: $navyblock;
        padding: 100px 0;
        // position: relative;

    }


        .button1 {
            display: flex;
            justify-content: center;
            
        }
        
        .button1 a {
            
            color: black;
            background: $babyblue; 
            padding: 7px;
            text-decoration: none;
            font-family: 'Barlow',
            sans-serif;
            
        }


    h2 {
        color: white;
        display:flex;
        justify-content: center;
        font-family: 'Barlow',
        sans-serif;
    }

    .undersea p {
        color: white;
        display: flex;
        justify-content: center;
        font-family: 'Lato',
        sans-serif;

    }

    .greenbox {
        background:$greenblock;
        padding: 100px 0;
    }


    .greenbox1 {
        background:$greenblock;
        padding: 40px 0;
    }

    

    .flex1 {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 30%;
        margin-left: 60%;
        margin-top: -3%;
        color: white;
    }

    .flex1 p {
        font-family: 'Lato',
        sans-serif;
    }

    .button3 {
        display: flex;
        justify-content: center;

    }

    .button3 a {
        color: white;
        background: black;
        padding: 7px;
        text-decoration: none;
        font-family: 'Barlow',
        sans-serif;

    }

    .additions {
        position: relative;
        flex-flow: row wrap ;
    }

    .red-image {
        display: flex;
        justify-content: center;

    }

    .red-fish {
        position: absolute;
        width: 30%;
        height: auto;
        margin-right: 45%;
        margin-top: -8%;
        box-shadow: 12px 12px 2px 1px #86E0F9;
        flex-grow: 0;

    }


    .flex2 {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 30%;
        margin-left: 2%;
        margin-top: -1%;
        color: white;
        

    }

    .flex2 p {
        font-family: 'Lato',
        sans-serif;
    }

    .button4 {
        display: flex;
        justify-content: center;

    }

    .button4 a {
        color: white;
        background: black;
        padding: 7px;
        text-decoration: none;
        font-family: 'Barlow',
        sans-serif;

    }

    .nemo {
        position: relative;
    }

    .nemo-pic {
        display: flex;
        justify-content: flex-end;
        
    }

    .nemo-fish {
        position: absolute;
        width: 30%;
        height: auto;
        margin-left: 25%;
        margin-top: 7%;
        box-shadow: -16px 18px 2px #86E0F9;
        
    }


    .info {
    background: $navyblock;
    padding: 100px 0;

    }

    .info .wrapper {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr 8fr;
        grid-template-rows: 2fr 2fr;
        padding-top: -7px;
        margin-left: 3%;
        color: white;

    }


    .info .wrapper i {
        color: #86E0F9;
        display: inline-block;

    }



    .info .wrapper a {
        color: white;
        font-family: 'Barlow',
        sans-serif;

    }

    .info .wrapper p {
        font-family: 'Lato',
        sans-serif;
    }
    

   
    
    .shark {
         width: 100%;
         display: inline-block;

    }

    .month-profile {
        background:$navyblock;
        padding: 100px 0;
    }


    .month-profile p {
        color: white;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 50%;
        margin-left: 40%;
        font-family: 'Lato',
        sans-serif;

    }


    .button2 {
        display: flex;
        justify-content: center;

    }

    .button2 a {
        color: black;
        background: $babyblue;
        padding: 7px;
        text-decoration: none;
        font-family: 'Barlow',
        sans-serif;

    }


    .month-profile h2{
        margin-left: -7%;
    }

    
    .small-fishsec {
        position: relative;
    }

    .small-fishdiv {
        display: flex;
        justify-content: flex-end;

    }

    .small-fish {
        position: absolute;
        margin-right: 65%;
        width: 20%;
        height: auto;
        box-shadow: 12px 12px 1px 2px #86E0F9;
    
    }


    

    .gallery-images {
        background: $greenblock;
        padding: 100px 0;
        
    }

    .pics {
        display: flex;
        justify-content: center;
        display: inline;
        
        
        
    }

    footer {

        background:#86E0F9;
        padding: 1px 0;
        text-align: center;

    }





    @media screen and (max-width: 700px) {
        .menu ul {
            float: left;
            display: block;
            width: 150%;
        }

        h1 {
            display: flex;
            flex-wrap: wrap;
            font-size: 60px;
        }

        .undersea {
            display: flex;
            flex-wrap: wrap;
        }






    }

    /* tablets and mobile for 660px or less*/

    @media screen and (max-width: 660px) {
        .menu ul {
            float: left;
            display: block;
            width: 150%;
        }

        .burger-menu {
            float: right;
            display: block;
        }

    

        .menu {
            background-color: $navyblock;
            width: 100%;
            height: 60vh;
            display: none;
        }

        .menu-ul {
            overflow: hidden;
            list-style-type: none;
            padding-top: 3%;
            padding-left: 30%;
            padding-right: 3%;
            padding-bottom: 3%;
            margin: 0;
        }

        .menu li {
            display: block;
            margin: 0;
            padding: 14px 20px;
            width: 100%;
            transition: background-color .5s;
        }

        .menu li:hover {
            cursor: pointer;
            // background-color: #ce3939;
        }


        .menu li a {
            // color: #d3e3e3;
            text-decoration: none;
            padding: 14px 16px;
            font-family: 'Raleway', sans-serif;
            font-size: 1em;
            transition: all 1s;
        }

        .menu li:hover {
            cursor: pointer;
            background-color: $greenblock;
            letter-spacing: 0px;
        }


        h1 {
            display: flex;
            flex-wrap: wrap;
            font-size: 40px;
        }

        // .greenbox1 {
        //     display: flex;
        //     flex-wrap: wrap;
        // }

    
            .shark {
                width: 50%;
                
            }

            .month-profile h2 {
                margin-left: 1%;
            }


            };